<!--showCategories-->
<section id="showCategories">

            <div class="col-md-3">
              <p class="h3">Categories</p>
              <ul class="list-group">
		        {% for c in categories %}
                    <li class="list-group-item">
                    	<p class="h4">
                    		<a href="{{url_for('showCategory', category_name = c.name,)}}" >
                    		{{ c.name }}</a>

                    		{% if 'username' in session %}
                    		<a href = "{{url_for('deleteCategory', category_name = c.name)}}">
                    		<span class="glyphicon glyphicon-trash pull-right" data-toggle="tooltip" title="Delete Category" data-placement="top"> </span> </a>

                    		<a href = "{{url_for('editCategory', category_name = c.name)}}">
                    		<span class="glyphicon glyphicon-pencil pull-right " data-toggle="tooltip" title="Edit Category" data-placement="bottom"> </span> </a>
                    		{% endif %}
                    		
                    	</p>
                    </li>

                {% endfor %}
              </ul>
            </div>
</section>
<!--/showCategories-->